nav {
    height: 15vh;
    width: 100%;
    /*navbar ka colour change krne ke liye change krne ke liye*/
    background-image: linear-gradient(to right, #fd9c9c, #1f29af);
    color: rgba(0, 0, 0, 0.877);
  }
  .navitems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .navitems img {
    height: 100px;
    width: auto;
  }
  
  .navitems h2 {
    font-size: 30px;
  }
  
  .navitems button {
    width: 20%;
    height: 10vh;
    border: 2px solid transparent;
    /* button ka colour change krne ke liye */
    background-color: #fd9c9c;
    font-family: serif;
    font-size: 20px;
    margin: auto 0px;
  }
  
  .fetchbtn:hover {
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;
  }
  .userdatacontainer {
    width: 100%;
    height: fit-content;
    /*background change krne ke liye*/
    background-image: linear-gradient(to bottom right, #899292, #116e7a);
  }
  #main {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }
  .name:hover {
    color: whitesmoke;
  }
  
  .avatar {
    border-radius: 30%;
  }
  
  .profile_cont {
    border-radius: 10%;
    /*card ka colour change krne ke liye*/
    background-image: linear-gradient(#cf43af, #9e1b1b);
    margin: 5px;
    padding: 10px;
    width: 30%;
    text-align: center;
    transition: transform ease 0.2s;
    opacity: 0.8;
    margin-top: 8vh;
  }
  
  .profile_cont:hover {
    transform: scale(0.9);
    opacity: 1;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .loader {
    height: 200px;
    width: auto;
    margin: auto;
  }